{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ artist.name }}
		</h1>
		
			<button id='btn_edit' class="btn btn-primary" data-id={{ artist.id}}> Edit </button>
			<button id='btn_delete' class="btn btn-primary" data-id={{ artist.id}}>Delete</button>
			<button id='btn_album' class="btn btn-primary" data-id={{ artist.id}}> Add Album </button>
			<button id='btn_song' class="btn btn-primary" > Add Song </button>
		<p class="subtitle">
			ID: {{ artist.id }}
		</p>
		<div class="genres">
			{% for genre in artist.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i class="fas fa-link"></i> {% if artist.website %}<a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		{% if artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ artist.upcoming_shows_count }} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ artist.past_shows_count }} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">Albums</h2>
	<div class="row">
		<div class="col-sm-4">
		<ul>
			{% for album in artist.albums %}
			<li>
				<p class="subtitle">ID: {{ album.id }}</p>
				<h5>Album: {{ album.name }}</h5>
				<ul>
					{% for song in album.songs %}
					<li>
						{{ song.title }}
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
		</div>
	</div>
	
</section>
<script>
	const deleteBtn = document.getElementById('btn_delete'); //getElementsByClassName('.delete-button');
	
	deleteBtn.onclick = function(e){
		console.log("Delete event:",e);
		e.preventDefault();
		const artistId = e.target.dataset.id;
		fetch('/artists/'+ artistId ,{
			method: 'DELETE'
		})
		.then(function(){
			window.location.href='/artists'
		})
		.catch(function(){
			console.log('error',e);
		})
		
	}
	const editBtn = document.getElementById('btn_edit'); //getElementsByClassName('.delete-button');
	editBtn.onclick = function(e){
		console.log("Edit event:",e);
		e.preventDefault();
		const artistId = e.target.dataset.id;
		fetch('/artists/'+ artistId + '/edit',{
			method: 'POST'
			
		})
		.then(function(){
			window.location.href='/artists/'+ artistId + '/edit'
		})
		.catch(function(){
			console.log('error',e);
		})
		
	}
	
	const albumBtn = document.getElementById('btn_album'); //getElementsByClassName('.delete-button');
	albumBtn.onclick = function(e){
		console.log("Edit event:",e);
		e.preventDefault();
		const artistId = e.target.dataset.id;
		fetch('/albums/create',{
			method: 'POST'
			
		})
		.then(function(){
			window.location.href='/albums/create' 
		})
		.catch(function(){
			console.log('error',e);
		})
		
	}
	const songBtn = document.getElementById('btn_song'); //getElementsByClassName('.delete-button');
	songBtn.onclick = function(e){
		console.log("Edit event:",e);
		e.preventDefault();
		fetch('/songs/create',{
			method: 'POST'
			
		})
		.then(function(){
			window.location.href='/songs/create' 
		})
		.catch(function(){
			console.log('error',e);
		})
		
	}
</script>

{% endblock %}

